<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sudokusolver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sudokusolvericon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sudokusolvericon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SudokuSolver">
        <activity android:name=".SudokuSolver"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8325955134978078~3530616787" />
    </application>

</manifest>